# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Data (Exclude large files, keep structure)
data/raw/*
data/processed/*
data/augmented/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/augmented/.gitkeep

# Models (Exclude heavy weights)
models/checkpoints/*
!models/checkpoints/.gitkeep
*.h5
*.keras
*.tflite

# Arduino / PlatformIO
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.hex
*.bin
*.map

# OS
.DS_Store
Thumbs.db
